#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  /* display: flex;
  display: inline;
  align-items: center;
  justify-content: center; */
}
/* 
.card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}
